/* * {
    outline: 1px solid #f00;
} */

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

#header {
    line-height: 100px;
}

#header .container {
    justify-content: space-between;
}

#header h1 {
    width: 100px;
}

#haeder nav {
    margin: 0 0 0 auto;
    text-align: center;
}

#header nav>ul {
    display: flex;
}

#header nav>ul>li>a {
    display: block;
    padding: 0 30px;
}

#header nav>ul>li>a:hover {
    color: #0c2340;
    font-weight: 500;
}

#header nav>ul ul a {
    display: block;
    line-height: 40px;
    text-align: center;
}

#header nav>ul>li {
    position: relative;
    font-size: 17px;
}

#header nav>ul>li ul {
    position: absolute;
    inset: 150px auto auto 50%;
    z-index: 999;
    visibility: hidden;
    width: 150px;
    transform: translateX(-50%);
    border: 1px solid #ddd;
    background: #fff;
    opacity: 0;
}

#header nav>ul>li:hover ul {
    inset: 75px auto auto 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

#header nav>ul>li ul li {
    position: relative;
    background: #fff;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
}

#header nav>ul>li ul li:last-child {
    border: none;
}

#header .bars i {
    font-size: 30px;
    transform: translateY(5px);
    cursor: pointer;
}

.section01 {
    position: relative;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.section01 .main_slider figure {
    position: relative;
    height: 800px;
}

.section01 .inner {
    position: absolute;
    inset: 30% auto auto 50%;
    transform: translate(-50%, -50%);
}

.section01 .inner h2 {
    margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 900;
}

.section01 .inner h3 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.025em;
}

.section01 .inner p {
    font-size: 15px;
    font-weight: 300;
    transform: translate(1px, 70px);
}

.section01 .inner p::before {
    content: "";
    display: block;
    margin: 10px 2px;
    width: 50px;
    height: 1px;
    background: #fff;
}

.section01 .main_slider .main01 {
    background: url(../img/main_visual_01.jpg) no-repeat center center/cover;
}

.section01 .main_slider .main02 {
    background: url(../img/main_visual_02.jpg) no-repeat center center/cover;
}

.section01 .main_slider .main03 {
    background: url(../img/main_visual_03.jpg) no-repeat center center/cover;
}

.section01 .main_slider .main04 {
    background: url(../img/main_visual_04.jpg) no-repeat center center/cover;
}

.section01 .main_slider .main05 {
    background: url(../img/main_visual_05.jpg) no-repeat center center/cover;
}

.section01 .main_slider .main06 {
    background: url(../img/main_visual_06.jpg) no-repeat center center/cover;
}

.section01 .main_slider .slick-dots {
    position: absolute;
    inset: auto auto 70px 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.section01 .main_slider .slick-dots li {
    display: inline-block;
    margin: 0 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: transparent;
}

.section01 .main_slider .slick-dots li.slick-active {
    background: #fff;
}

.section01 .main_slider .slick-dots button {
    display: none;
}

.section01 .controls {
    position: absolute;
    inset: auto 40% 50px auto;
    transform: translate(-50%, -50%);
    font-size: 30px;
    cursor: pointer;
}

.section02 {
    padding: 100px 0;
    letter-spacing: -0.025em;
    text-align: center;
}

.section02 h2 {
    margin: 0 0 50px 0;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.section02 .main_content figure {
    position: relative;
    width: 1200px;
    height: 113px;
    margin: 0 auto 30px auto;
    transition: height 0.5s;
}

.section02 .main_content figure:hover {
    height: 300px;
}

.section02 .main_content .content01 {
    background: url(../img/img01.jpg) no-repeat center center/cover;
}

.section02 .main_content .content02 {
    background: url(../img/img03.jpg) no-repeat center center/cover;
}

.section02 .main_content .content03 {
    background: url(../img/img05.jpg) no-repeat center center/cover;
}

.section02 .main_content .content04 {
    background: url(../img/img07.jpg) no-repeat center center/cover;
}

.section02 .main_content .inner {
    position: absolute;
    width: 175px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s;
}

.section02 .main_content figure:hover .inner {
    opacity: 1;
}

.section02 .main_content a {
    display: block;
    margin: 150px auto;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.section03 {
    position: relative;
    padding: 100px 0;
    letter-spacing: -0.025em;
    text-align: center;
}

.section03 h2 {
    margin: 0 0 50px 0;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.section03 .tech_slider figure {
    padding: 0 52px;
    opacity: 0.5;
}

.section03 .tech_slider figure.slick-center {
    opacity: 1;
}

.section03 .slide_arrows i {
    position: absolute;
    padding: 10px 15px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.section03 .slide_arrows i:nth-child(1) {
    margin: 0 0 0 -630px;
}

.section03 .slide_arrows i:nth-child(2) {
    margin: 0 0 0 630px;
}

.section03 .slide_inner {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 1200px;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.section03 .slide_inner h3 {
    margin: 50px auto 10px auto;
    font-size: 27px;
    font-weight: 500;
}

.section03 .slide_inner p {
    font-size: 15px;
    font-weight: 300;
}

.section04 {
    padding: 100px 0;
    text-align: center;
}

.section04 h2 {
    margin: 0 0 50px 0;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.section04 .container {
    gap: 30px;
}

.section04 .container>div {
    flex: 1;
}

.section04 .container .case {
    position: relative;
    padding-bottom: 56.45%;
}

.section04 .container iframe {
    position: absolute;
    inset: 0 0 0 0;
}

.section04 .box {
    position: absolute;
    inset: 0 0 0 0;
}

.section04 .box a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 6px auto;
    padding: 20px 100px;
    border: 1px solid #ddd;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.025em;
    transition: 0.2s;
}

.section04 .box a:hover {
    background: #f3dcbf;
    filter: invert(1);
}

.to_top {
    position: fixed;
    inset: auto 50px 50px auto;
}

.to_top i {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

#footer {
    line-height: 80px;
    background: #0c2340;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

#footer .top::after {
    content: "";
    display: block;
    margin: 0 350px;
    width: 1200px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

#footer .top dt {
    font-weight: 500;
}

#footer .top dt,
#footer .top dd {
    display: inline-block;
}

#footer .top dt::before,
#footer .top dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 11px;
    background: rgba(255, 255, 255, 0.2);
}

#footer .top i {
    font-size: 23px;
    margin: 0 3px;
}

#footer .container {
    justify-content: space-between;
}

#footer .bottom address {
    font-style: normal;
}

#footer .bottom select {
    font-size: 12px;
    background: transparent;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#footer .bottom option {
    color: #fff;
    background: #0c2340;
}